$primary-color: #002d72;
$secondary-color: #00bfb2;
$light-blue: #7f96b8;
$white-color: #ffffff;
$light-green: #e6f9f7;
$gray0: #ececec;
$gray1: #f7f7f7;
$gray2: #dadada;
$gray3: #8a8a8a;
$gray4: #6b6b6b;
$gray5: #444444;
$black: #000000;
$success: #1ac88d;
$error: #ff4040;

$font-size-xxsmall: 10px;
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size: 16px;
$font-size-med: 18px;
$font-size-lg: 20px;

$heading-1: 2.488rem;
$heading-2: 2.074rem;
$heading-3: 1.728rem;
$heading-4: 1.44rem;
$heading-5: 1.2rem;
$heading-6: 1rem;

$padding-global-left: 55px;
$padding-global-right: 45px;
$font-family: 'Open Sans', sans-serif;
