/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body,
html {
  width: 100%;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'Lato';
  src: local(Lato), url(../../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Lato';
  src: local(Lato), url(../../assets/fonts/Lato/Lato-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: local(Lato), url(../../assets/fonts/Lato/Lato-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'Lato';
  src: local(Lato), url(../../assets/fonts/Lato/Lato-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: local(Lato), url(../../assets/fonts/Lato/Lato-Black.ttf);
  font-weight: bolder;
}
